<div class="container-fluid nav-bar p-0">
  <div class="container-lg p-0">
      <nav class="navbar navbar-expand-lg bg-secondary navbar-dark">
          <a href="{{ "./index.html" | relative_url }}" class="navbar-brand">
              <h1 class="m-0 text-white display-4"><span class="text-primary">i</span>school</h1>
          </a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
              <div class="navbar-nav ml-auto py-0">
                {% for menu in site.data.nav.menus %}
                  <a href="{{ menu.link | relative_url }}" class="nav-item nav-link {% if page.url == menu.link %}active{% endif %}">{{ menu.name }}</a>
                {% endfor %}
              </div>
          </div>
      </nav>
  </div>
</div>
