<div class="container-fluid pt-5 pb-3" id="service">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5">
                <small class="bg-primary text-white text-uppercase font-weight-bold px-1">{{ site.data.services.title }}</small>
                <h1 class="mt-2 mb-3">{{ site.data.services.subtitle }}</h1>
                <h4 class="font-weight-normal text-muted mb-4">{{ site.data.services.summary }}</h4>
                <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold">Discover More</a>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    {% for service in site.services %}
                    <div class="col-md-6 mb-5">
                        <div class="d-flex">
                            <i class="fa fa-3x fa-{{ service.icon }} text-primary mr-4"></i>
                            <div class="d-flex flex-column">
                                <h4 class="font-weight-bold mb-3">{{ service.title }}</h4>
                                <p>{{ service.excerpt }}</p>
                                <a class="font-weight-semi-bold" href="{{ service.url | relative_url }}">Read More <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>