<div class="container-fluid pt-5" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5">
                <small class="bg-primary text-white text-uppercase font-weight-bold px-1">{{ site.data.team.title
                    }}</small>
                <h1 class="mt-2 mb-3">{{ site.data.team.subtitle }}</h1>
                <h4 class="font-weight-normal text-muted mb-4">{{ site.data.team.summary }}</h4>
                <a href="{{ site.data.team.action }}" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold">Meet
                    All Experts</a>
            </div>
            <div class="col-lg-8 mb-5">
                <div class="owl-carousel team-carousel">
                    {% for member in site.data.team.teams %}
                    <div class="team-item">
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="{{ member.passport | relative_url }}" alt="">
                            <div
                                class="team-overlay position-absolute d-flex align-items-center justify-content-center m-3">
                                <div class="d-flex align-items-center justify-content-start">
                                    {% if member.whatsapp %}
                                    <a class="btn btn-outline-secondary rounded-circle text-center mr-2 px-0"
                                        style="width: 38px; height: 38px;" href="https://wa.me/{{ member.whatsapp }}"><i
                                            class="fab fa-whatsapp"></i></a>
                                    {% endif %}
                                    {% if member.twitter %}
                                    <a class="btn btn-outline-secondary rounded-circle text-center mr-2 px-0"
                                        style="width: 38px; height: 38px;" href="#"><i class="fab fa-twitter"></i></a>
                                    {% endif %}
                                    {% if member.facebook %}
                                    <a class="btn btn-outline-secondary rounded-circle text-center mr-2 px-0"
                                        style="width: 38px; height: 38px;" href="https://fb.me/{{ member.facebook }}"><i
                                            class="fab fa-facebook-f"></i></a>
                                    {% endif %}
                                    {% if member.linkedin %}
                                    <a class="btn btn-outline-secondary rounded-circle text-center px-0"
                                        style="width: 38px; height: 38px;"
                                        href="https://www.linkedin.com/in/{{ member.linkedin }}"><i
                                            class="fab fa-linkedin-in"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="border border-top-0 text-center" style="padding: 30px;">
                            <h5 class="font-weight-bold">{{ member.name }}</h5>
                            <span>{{ member.position }}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>